html, body {
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 48px !important; 
    color: #FEB91F !important;
    line-height: 32px;
}

h4 {
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 24px !important;
}

p {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16px;
    color: #000000;
}

.introduction {
    padding: 120px 32px;
    background-image: url("C:\Users\filip\OneDrive\Desktop\behance cover\20230114_080915.jpg") !important;
    background-color: #9E0D14;
}

nav {
    background-color: #FEB91F !important;
    font-family: 'Titillium Web', sans-serif !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    position: sticky !important;
    top: 0;
    z-index: 100000000;
    padding: 32px 32px !important;
}

nav img {
    margin-right: 32px;
}

nav .dropdown .dropdown-menu {
    background-color: #9B2226 !important;
    border: solid 4px #FEB91F !important;
    border-radius: 0 !important;
}

nav .dropdown .dropdown-menu .dropdown-item {
    color: #FEB91F !important;
    font-family: 'Titillium Web', sans-serif !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
}

nav .dropdown .dropdown-menu .dropdown-item:hover {
    color: #9B2226 !important;
    background-color: #FEB91F;
    font-family: 'Titillium Web', sans-serif !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
}


.quote {
    text-align: center;
    background-color: #DE8A14 !important;
    padding: 48px 24px;
    position: relative;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px !important;
    z-index: 1;
}

.quote h2 {
    color: #F0CEA0;
}

.quote .fa-quote-left {
    position: absolute;
  top: 8px;
  left: 16px;
  color: #F0CEA0;
}

.quote .fa-quote-right {
    position: absolute;
  bottom: 8px;
  right: 16px;
  color: #F0CEA0;
}

.i-am-filo {
    display: flex;
    width: 100%;
}

.i-am-filo .photo {
    flex: 1;
    flex-basis: 50%;
    background-image: url("../assets/20230206_001330.jpg");
    min-height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.i-am-filo .text {
    flex: 1;
    flex-basis: 50%;
    padding: 80px 32px 80px 24px;
}

.i-am-filo .text h2 {
    color: #000000;
    margin-bottom: 80px;
}

.curiosities {
    padding: 40px 32px 40px 32px;
    background-color: #FEB91F;
}

.curiosities .text {
    width: 30%;
    font-family: 'Ubuntu', sans-serif !important;
    font-weight: bold !important;
}

.curiosities .stickers {
    width: 70%;
}

.graphics {
    display: flex;
    width: 100%;
}

.graphics .projects {
    flex: 1;
    flex-basis: 70%;
    width: 70vh !important;
    background-image: url("../assets/20230206_001330.jpg");
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.graphics .text {
    flex: 1;
    flex-basis: 30%;
    padding: 80px 32px 80px 24px;
    height: 70vh;
}

.graphics .subheading {
    font-family: 'Titillium Web', sans-serif;
    color: gray;
    text-transform: uppercase;
    margin-bottom: -2px;
    letter-spacing: 2px;
}

.graphics .text h2 {
    color: #000000;
    margin-bottom: 80px;
}

.graphics .projects .containers {
    display: flex;
    text-align: center;
    padding: 80px 30px;
}

.graphics .projects .containers #essere-giovani-in-altopiano {
    flex: 1;
    flex-basis: 40%;
    background-color: white;
    margin-right: 20px;
    min-height: 40vh;
    padding: 20px 12px;
}

.graphics .projects .containers #icone-us-asiago {
    flex: 1;
    flex-basis: 40%;
    background-color: white;
    min-height: 40vh;
    padding: 20px 12px;
}

.graphics .projects .containers img {
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.moving-text {
    text-align: center;
    overflow: hidden;
    display: flex;
    white-space: nowrap;
    background-color: #0A9396;
}

.moving-text #text p {
    display: inline-block;
font-family: 'Ubuntu', sans-serif;
color: #E9D8A6;
font-size: 30px;
padding: 32px 24px;
animation: animate_text 30s linear infinite;
margin-right: 2px;
}

@keyframes animate_text {
    from {
    transform: translate3d(0, 0, 0);
    }
    to {
    transform: translate3d(-100%, 0, 0);
    }
    }


.websites {
    text-align: center;
    padding: 80px 32px;
}

.websites .subheading {
        font-family: 'Titillium Web', sans-serif;
        color: gray;
        text-transform: uppercase;
        margin-bottom: -2px;
        letter-spacing: 2px;
}

.websites .text h2 {
    color: #000000;
    margin-bottom: 80px;
}

.websites .projects .containers {
    display: flex;
    text-align: center;
    padding: 80px 30px;
    
}

.websites .projects .containers #sito-us-asiago {
    flex: 1;
    flex-basis: 40%;
    background-color: white;
    margin-right: 20px;
    min-height: 40vh;
    padding: 20px 12px;
    box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.18);
    border-bottom: solid 4px #005F73;
}

.websites .projects .containers #sito-tech-is-easy {
    flex: 1;
    flex-basis: 40%;
    background-color: white;
    min-height: 40vh;
    padding: 20px 12px;
    box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.18);
    border-bottom: solid 4px #CA6702;
}

.websites .projects .containers img {
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form {
    background-color: #94D2BD;
    width: 100%;
}
.form .subheading {
    font-family: 'Titillium Web', sans-serif;
    color: #0A9396;
    text-transform: uppercase;
    margin-bottom: -2px;
    letter-spacing: 2px;
}

.form .text {
    width: 30%;
    padding: 80px 32px 80px 24px;
}

.form .text h2 {
    color: #000000;
    margin-bottom: 80px;
    
}

.form .form-container {
    width: 35%;
    padding: 32px;
    background-color: #94D2BD !important;
}

.form .form-container .text-pre-modal {
    text-align: center;
    border: solid 4px #0A9396;
    padding: 80px 32px 80px 24px;
}

.form .form-container .text-pre-modal h2 {
    color: #0A9396;
    margin-bottom: 80px;
}

.form .form-container .text-pre-modal .icon-envelope{
    color: #0A9396;
    margin-bottom: 8px;
    rotate: -15deg;
}

.form .telephone {
    width: 35%;
    padding: 32px;
    
}

.form .telephone .contact {
    background-color: #94D2BD !important;
    text-align: center;
    height: 100%;
    border: solid 4px #0A9396;
    padding: 80px 32px 80px 24px
}

.form .telephone .contact #small-text {
    font-family: 'Titillium Web', sans-serif;
    color: #0A9396;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: -2px;
    display: inline-block;

}

.form .telephone .contact #bigger-text {
    font-family: 'Titillium Web', sans-serif;
    font-size: 32px;
    color: #0A9396;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: -2px;
    display: inline-block;

}

.form .form-container form .dati-personali {
    display: flex;
}

.form .form-container form .dati-personali .nome {
    flex: 1;
    flex-basis: 50%;
    padding-right: 4px;
}

.form .form-container form .dati-personali .cognome {
    flex: 1;
    flex-basis: 50%;
    padding-left: 4px;
}

.form .form-container form div {
    padding-top: 4px;
    padding-bottom: 4px
}

.form .form-container form .campo-input {
    border: 4px solid #005F73 !important;
    font-family: 'Titillium Web', sans-serif !important;
    font-weight: bold !important;
    color: #005F73 !important;
    padding: 8px 16px !important;
    text-transform: uppercase !important;
    border-radius: 0px !important;
    background-color: transparent !important;
}

.form .form-container form .campo-input::placeholder {
    color: #005F73 !important;
    opacity: 0.5;
}

.form .form-container form .campo-input:focus {
    outline: solid 4px #CA6702 !important;
    outline-offset: 2px !important;
    
}

.form .form-container form .motivo-contatto label {
    font-family: 'Titillium Web', sans-serif !important;
    font-weight: bold !important;
    color: #005F73 !important;
    margin-bottom: 8px !important;
    margin-right: 8px !important;
    text-transform: uppercase !important;
}

.form .form-container form .motivo-contatto {
    padding: 8px !important;
}

.form .form-container form .invio button {
    background-color: #005F73 !important;
    color: #ffffff;
    border-radius: 0;
    font-family: 'Titillium Web', sans-serif !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    padding: 16px 32px;
}

.form .form-container form .invio button:hover {
    background-color: #0A9396 !important;
}

.form .form-container form .invio button:focus {
    outline: 4px solid #CA6702 !important;
    outline-offset: 2px !important;
}

.form .form-container form .invio .privacy {
    font-family: 'Titillium Web', sans-serif !important;
    color: #005F73 !important;
}

.form .form-container form .invio .privacy a {
    color: #005F73 !important;
}

.form .form-container form .invio .privacy a:hover {
    color: #005F73 !important;
    text-decoration: none !important;
}

.footer .flex {
    display: flex;
    background-color: #005F73;
    padding: 24px 32px;
}

.footer .flex .social-logo {
    flex: 1;
    flex-basis: 60%;
}

.footer .flex .social-logo img {
    margin-right: 32px;
    margin-top: -8px;
}

.footer .flex .social-logo .social {
    display: inline-block;
}

.footer .flex .social-logo .social p {
    color: #fdd666;
    margin-bottom: 0;
}

.footer .flex .social-logo .ig-icon {
    color:#fdd666 !important;
}

.footer .flex .social-logo .ig-icon:hover {
    color:#94D2BD !important;
}

.footer .flex .text {
    flex: 1;
    flex-basis: 60%;
    text-align: right;
    color: #fdd666;
}

.footer .flex .text a {
    color: #fdd666;
}

.footer .flex .text a:hover {
    color: #94D2BD;
}

.footer .credits {
    background-color: #001219;
    text-align: left;
    padding: 16px 32px;
}

.footer .credits .ptext {
    color: #E9D8A6 !important;
    font-family: 'Titillium Web', sans-serif !important;
    font-weight: bold;
}

.primary-button {
    margin-top: 16px !important;
    background-color: #DE8A14;
    color: #9E0D14;
    padding: 16px 32px;
    border-radius: 0;
    font-family: 'Titillium Web', sans-serif !important;
    font-weight: bold;
    border: none;
    box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.18);
    transition: ease 0.3s;
    text-transform: uppercase;
    text-decoration: none;
}

.primary-button:hover {
    background-color: #9E0D14;
    color: #FEB91F;
    transition: ease 0.3s;
    box-shadow: none;
}

.arrow-button {
    margin-left: 16px !important;
}

.intro-graphics {
    text-align: center;
    padding: 120px 32px;
    background-image: linear-gradient(45deg, #9E0D14, transparent), url('../assets/20230206_001330.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
}

.intro-graphics h1 {
    color: #FEB91F !important;
}

.intro-graphics .subheading {
    font-family: 'Titillium Web', sans-serif;
    color: #F2BB59;
    text-transform: uppercase;
    margin-bottom: 0px;
    letter-spacing: 2px;
}

.what-do-i-do .subheading {
    font-family: 'Titillium Web', sans-serif;
    color: gray;
    text-transform: uppercase;
    margin-bottom: -2px;
    letter-spacing: 2px;
}

.what-do-i-do .text {
    width: 40%;
    padding: 80px 24px 80px 32px;
}

.what-do-i-do .photo {
    width: 60%;
    background-image: url('../assets/20230206_001330.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.what-do-i-do .text h2 {
    margin-bottom: 80px;
}

.legend {
    padding: 40px 32px !important;
    background-color:#0A9396;
}

.legend .text {
    width: 30%;
    color: #E9D8A6;
}

.legend .list {
    width: 70%;
}

.legend .list a {
    color: #E9D8A6;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.legend .list a:hover {
    color: #94D2BD;
    text-decoration: none;
}

.essere-giovani .subheading {
    font-family: 'Titillium Web', sans-serif;
    color: gray;
    text-transform: uppercase;
    margin-bottom: -2px;
    letter-spacing: 2px;
}

.essere-giovani .text {
    width: 40%;
    padding: 80px 24px 80px 32px;
}

.essere-giovani .photo {
    width: 60%;
    background-image: url('../assets/20230206_001330.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.essere-giovani .text h2 {
    margin-bottom: 80px;
}

.carousel-image {
    width: 100%;
    max-height: 60vh;
    object-fit: cover;
}

.carousel {
    height: 60vh;
    overflow: hidden;
}

.sito-us-asiago {
    background-color: #0679CC;
    border-bottom: solid 4px #FAA916 !important;
    border-top: solid 4px #FAA916 !important;
    color: #C5FFFD !important;
}

.sito-us-asiago .subheading {
    font-family: 'Titillium Web', sans-serif;
    color: #C5FFFD;
    text-transform: uppercase;
    margin-bottom: -2px;
    letter-spacing: 2px;
}

.sito-us-asiago .text {
    width: 40%;
    padding: 80px 24px 80px 32px;
}

.sito-us-asiago .photo {
    width: 60%;
    background-image: url('../assets/20230206_001330.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sito-us-asiago .text h2 {
    margin-bottom: 80px;
}

.sito-us-asiago .text p {
   color: #C5FFFD !important;
}

.sito-tech-is-easy {
    background-color: #CEEC18;
    border-bottom: solid 4px #0F797A !important;
    color: #0F797A !important;
}

.sito-tech-is-easy .subheading {
    font-family: 'Titillium Web', sans-serif;
    color: #0F797A;
    text-transform: uppercase;
    margin-bottom: -2px;
    letter-spacing: 2px;
}

.sito-tech-is-easy .text {
    width: 40%;
    padding: 80px 24px 80px 32px;
}

.sito-tech-is-easy .photo {
    width: 60%;
    background-image: url('../assets/Tech\ is\ easy/Meme.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sito-tech-is-easy .text h2 {
    margin-bottom: 80px;
}

.sito-tech-is-easy .text p {
    color: #0F797A !important;
}

.like-what-u-see {
    text-align: center;
    padding: 80px 32px;
    background-color: #AE2012;
}

.like-what-u-see h1 {
    color: #E9D8A6 !important;
    margin-bottom: 16px;
}

.like-what-u-see p {
    color: #E9D8A6 !important;
    padding-bottom: 16px !important;
}

.secondary-button-outline {
    margin-top: 16px !important;
    background-color: none;
    color: #E9D8A6;
    padding: 16px 32px;
    border-radius: 0;
    font-family: 'Titillium Web', sans-serif !important;
    font-weight: bold;
    border: solid 4px #E9D8A6;
    box-shadow: none;
    transition: ease 0.3s;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 16px !important;
}

.secondary-button-outline:hover {
    background-color: #E9D8A6;
    color: #AE2012;
    transition: ease 0.3s;
    box-shadow: none;
}

.form .form-container .modal-button {
    background-color: #005F73 !important;
    color: #ffffff;
    border-radius: 0;
    border: none;
    font-family: 'Titillium Web', sans-serif !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    padding: 16px 32px;
}

.form .form-container .modal-button:hover {
    background-color: #0A9396 !important;
}

.form .form-container .modal-button:focus {
    outline: 4px solid #CA6702 !important;
    outline-offset: 2px !important;
}

.sito-us-asiago-alt {
    background-color: #C5FFFD;
    border-bottom: solid 4px #FAA916 !important;
    border-top: solid 4px #FAA916 !important;
    color: #007991 !important;
}

.sito-us-asiago-alt .subheading {
    font-family: 'Titillium Web', sans-serif;
    color: #007991;
    text-transform: uppercase;
    margin-bottom: -2px;
    letter-spacing: 2px;
}

.sito-us-asiago-alt .text {
    width: 40%;
    padding: 80px 24px 80px 32px;
}

.sito-us-asiago-alt .photo {
    width: 60%;
    
}

.sito-us-asiago-alt .text h2 {
    margin-bottom: 80px;
}

.sito-us-asiago-alt .text p {
   color: #007991 !important;
}

.sito-tech-is-easy-alt {
    background-color: #CEEC18;
    border-bottom: solid 4px #0F797A !important;
    color: #0F797A !important;
}

.sito-tech-is-easy-alt .subheading {
    font-family: 'Titillium Web', sans-serif;
    color: #0F797A;
    text-transform: uppercase;
    margin-bottom: -2px;
    letter-spacing: 2px;
}

.sito-tech-is-easy-alt .text {
    width: 40%;
    padding: 80px 24px 80px 32px;
}

.sito-tech-is-easy-alt .photo {
    width: 60%;
    background-image: url('../assets/Tech\ is\ easy/Sito.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sito-tech-is-easy-alt .text h2 {
    margin-bottom: 80px;
}

.sito-tech-is-easy-alt .text p {
    color: #0F797A !important;
}

.modal-content {
    border-radius: 0 !important;
    border: none !important;
}

.modal-header {
    border-bottom: none !important;
}

.modal-backdrop {
    z-index: 100000001;
}

