h1 {
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 48px !important; 
    color: #FEB91F !important;
    line-height: 32px;
}

p {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16px;
    color: #000000;
}

.introduction {
    padding: 120px 32px;
    background-image: url("C:\Users\filip\OneDrive\Desktop\behance cover\20230114_080915.jpg") !important;
    background-color: #9E0D14;
}

nav {
    background-color: #FEB91F !important;
    font-family: 'Titillium Web', sans-serif !important;
    position: sticky !important;
    top: 0;
    z-index: 100000000;
}

.quote {
    text-align: center;
    background-color: #DE8A14 !important;
    padding: 48px 24px;
    position: relative;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px !important;
    z-index: 1;
}

.quote h2 {
    color: #F0CEA0;
}

.quote .fa-quote-left {
    position: absolute;
  top: 8px;
  left: 16px;
  color: #F0CEA0;
}

.quote .fa-quote-right {
    position: absolute;
  bottom: 8px;
  right: 16px;
  color: #F0CEA0;
}

.i-am-filo {
    display: flex;
    width: 100%;
}

.i-am-filo .photo {
    flex: 1;
    flex-basis: 50%;
    background-image: url("../assets/20230206_001330.jpg");
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.i-am-filo .text {
    flex: 1;
    flex-basis: 50%;
    padding: 80px 32px 80px 24px;
}

.i-am-filo .text h2 {
    color: #000000;
    margin-bottom: 80px;
}

.graphics {
    display: flex;
    width: 100%;
}

.graphics .projects {
    flex: 1;
    flex-basis: 70%;
    width: 70vh !important;
    background-image: url("../assets/20230206_001330.jpg");
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.graphics .text {
    flex: 1;
    flex-basis: 30%;
    padding: 80px 32px 80px 24px;
    height: 70vh;
}

.graphics .subheading {
    font-family: 'Titillium Web', sans-serif;
    color: gray;
    text-transform: uppercase;
    margin-bottom: -2px;
    letter-spacing: 2px;
}

.graphics .text h2 {
    color: #000000;
    margin-bottom: 80px;
}

.graphics .projects .containers {
    display: flex;
    text-align: center;
    padding: 80px 30px;
}

.graphics .projects .containers #essere-giovani-in-altopiano {
    flex: 1;
    flex-basis: 40%;
    background-color: white;
    margin-right: 20px;
    min-height: 40vh;
    padding: 20px 12px;
}

.graphics .projects .containers #icone-us-asiago {
    flex: 1;
    flex-basis: 40%;
    background-color: white;
    min-height: 40vh;
    padding: 20px 12px;
}

.graphics .projects .containers img {
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.moving-text {
    text-align: center;
    overflow: hidden;
    display: flex;
    white-space: nowrap;
    background-color: #0A9396;
}

.moving-text #text p {
    display: inline-block;
font-family: 'Ubuntu', sans-serif;
color: #E9D8A6;
font-size: 30px;
padding: 32px 24px;
animation: animate_text 30s linear infinite;
margin-right: 2px;
}

@keyframes animate_text {
    from {
    transform: translate3d(0, 0, 0);
    }
    to {
    transform: translate3d(-100%, 0, 0);
    }
    }


.websites {
    text-align: center;
    padding: 80px 32px;
}

.websites .subheading {
        font-family: 'Titillium Web', sans-serif;
        color: gray;
        text-transform: uppercase;
        margin-bottom: -2px;
        letter-spacing: 2px;
}

.websites .text h2 {
    color: #000000;
    margin-bottom: 80px;
}

.websites .projects .containers {
    display: flex;
    text-align: center;
    padding: 80px 30px;
    
}

.websites .projects .containers #sito-us-asiago {
    flex: 1;
    flex-basis: 40%;
    background-color: white;
    margin-right: 20px;
    min-height: 40vh;
    padding: 20px 12px;
    box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.18);
    border-bottom: solid 4px #005F73;
}

.websites .projects .containers #sito-tech-is-easy {
    flex: 1;
    flex-basis: 40%;
    background-color: white;
    min-height: 40vh;
    padding: 20px 12px;
    box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.18);
    border-bottom: solid 4px #CA6702;
}

.websites .projects .containers img {
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form {
    background-color: #94D2BD;
    display: flex;
    width: 100%;
}
.form .subheading {
    font-family: 'Titillium Web', sans-serif;
    color: #0A9396;
    text-transform: uppercase;
    margin-bottom: -2px;
    letter-spacing: 2px;
}

.form .text {
    flex: 1;
    flex-basis: 30%;
    padding: 80px 32px 80px 24px;
}

.form .text h2 {
    color: #000000;
    margin-bottom: 80px;
}

.form .form-container {
    flex: 1;
    flex-basis: 70%;
    padding: 32px;
}

.form .form-container form .dati-personali {
    display: flex;
}

.form .form-container form .dati-personali .nome {
    flex: 1;
    flex-basis: 50%;
    padding-right: 4px;
}

.form .form-container form .dati-personali .cognome {
    flex: 1;
    flex-basis: 50%;
    padding-left: 4px;
}

.form .form-container form div {
    padding-top: 4px;
    padding-bottom: 4px
}

.form .form-container form .campo-input {
    border: 4px solid #005F73 !important;
    font-family: 'Titillium Web', sans-serif !important;
    font-weight: bold !important;
    color: #005F73 !important;
    padding: 8px 16px !important;
    text-transform: uppercase !important;
    border-radius: 0px !important;
    background-color: transparent !important;
}

.form .form-container form .campo-input::placeholder {
    color: #005F73 !important;
}

.form .form-container form .campo-input:focus {
    outline: solid 4px #CA6702 !important;
    outline-offset: 2px !important;
    
}

.form .form-container form .motivo-contatto label {
    font-family: 'Titillium Web', sans-serif !important;
    font-weight: bold !important;
    color: #005F73 !important;
    margin-bottom: 8px !important;
    margin-right: 8px !important;
    text-transform: uppercase !important;
}

.form .form-container form .motivo-contatto {
    padding: 8px !important;
}

.form .form-container form .invio button {
    background-color: #005F73 !important;
    color: #ffffff;
    border-radius: 0;
    font-family: 'Titillium Web', sans-serif !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    padding: 16px 32px;
}

.form .form-container form .invio button:hover {
    background-color: #0A9396 !important;
}

.form .form-container form .invio button:focus {
    outline: 4px solid #CA6702 !important;
    outline-offset: 2px !important;
}

.form .form-container form .invio .privacy {
    font-family: 'Titillium Web', sans-serif !important;
    color: #005F73 !important;
}

.form .form-container form .invio .privacy a {
    color: #005F73 !important;
}

.form .form-container form .invio .privacy a:hover {
    color: #005F73 !important;
    text-decoration: none !important;
}

.footer .flex {
    display: flex;
    background-color: #001219;
    padding: 80px 32px;
}

.footer .flex .social-logo {
    flex: 1;
    flex-basis: 60%;
}

.footer .flex .text {
    flex: 1;
    flex-basis: 60%;
}